.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.greeting {
  padding: 2.5rem;
  max-width: 800px;
}

.socialLinks {
  display: flex;
  gap: 5rem;
  margin-top: 4rem;
}
