:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 12, 12, 12;
  --navbar-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary), monospace;
  color: rgb(var(--foreground-rgb));
}

button,
input,
select,
textarea {
  font-family: inherit;
}

* {
  scrollbar-color: rgba(var(--foreground-rgb), 0.3) rgb(var(--background-rgb));
}
